 body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: gray;
} 

h1.header {
    text-align: center;
    background-color: white;
    border: 5px solid black;
    padding: .5rem 1rem;
}

div.board {
    display: flex;
    flex-wrap: wrap;
    border: 7px solid black;
    border-radius: 15px;
}

.generalBtn {
    font-size: 1.75rem;
    padding: 1rem 2rem;
    margin-bottom: 3%;
    border-radius: 25px;
    border: 4px solid black;
    transition: all 0.2s ease;
}

.generalBtn:hover {
    border: 4px solid white;
    border-radius: 25px;
    background-color: black;
    color: white;
    transform: scale(1.07);
}

.generalBtn:active {
    transform: translateY(7px);
    box-shadow: 0 4px white;
}

#brushBtn, 
#shadingBtn, 
#rainbowBtn {
    position: relative; /* so the tooltip can be positioned absolutely */
    cursor: pointer;
}

.tooltip {
    position: absolute;
    bottom: 120%; /* position above the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffcc;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none; /* Not interactable */
    transition: opacity 0.2s;
}

#brushBtn:hover .tooltip,
#shadingBtn:hover .tooltip,
#rainbowBtn:hover .tooltip {
    opacity: 1; /* show tooltip on hover */
}

/* keybind press animation */
#brushBtn.activeKey,
#shadingBtn.activeKey,
#rainbowBtn.activeKey {
    transform: translateY(7px);
    box-shadow: 0 4px white;
}

/* Rainbow button animation */
#rainbowBtn {
    position: relative;
    z-index: 1;
}

#rainbowBtn.rainbowOn {
    border: none;

}

#rainbowBtn.rainbowOn:hover {
    border: 4px solid white;
    border-radius: 25px;
    color: black;
    transform: scale(1.07);
}

#rainbowBtn.rainbowOn:active {
    transform: translateY(7px);
    box-shadow: 0 4px white;
}

#rainbowBtn.rainbowOn::before {  /*Rainbow gradient*/
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
        90deg,
        red, orange, yellow, green, blue, indigo, violet,
        red, orange, yellow, green, blue, indigo, violet
    );
    z-index: -2;
    /* rainbow flow animation */
    background-size: 400% 100%;
    animation: rainbowFlow 10s linear infinite;
    will-change: background-position;
    pointer-events: none;
    animation-timing-function: linear;
}

#rainbowBtn.rainbowOn::after { /* white layer */
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: inherit;
    background-color: white;
    z-index: -1;
}

/* Shade Button animation */
#shadingBtn {
    position: relative;
    z-index: 1;
}

#shadingBtn.shadingOn {
    border: none;
}

#shadingBtn.shadingOn:hover {
    border: 4px solid white;
    border-radius: 25px;
    color: black;
    transform: scale(1.07);
}

#shadingBtn.shadingOn:active {
    transform: translateY(7px);
    box-shadow: 0 4px white;
}

#shadingBtn.shadingOn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
        90deg,
        black, gray, whitesmoke,
        black, gray, whitesmoke,
        black, gray, whitesmoke
    );
    z-index: -2;
    /* Dark flow animation */
    background-size: 400% 100%;
    animation: darkFlow 10s linear infinite;
    will-change: background-position;
    pointer-events: none;
    animation-timing-function: linear;
}

#shadingBtn.shadingOn::after {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: inherit;
    background-color: white;
    z-index: -1;
}

/* Rainbow animation */
@keyframes rainbowFlow {
    0% {background-position: 0% 50%;}
    100% {background-position: 400% 50%;}
}

/* DarkFlow animation */

@keyframes darkFlow {
    0% {background-position: 0% 50%;}
    100% {background-position: 400% 50%;}
}