 body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: gray;
} 

h1.header {
    text-align: center;
    background-color: white;
    border: 5px solid black;
    padding: .5rem 1rem;
}

div.board {
    display: flex;
    flex-wrap: wrap;
    border: 7px solid black;
    border-radius: 15px;
}

.generalBtn {
    font-size: 1.75rem;
    padding: 1rem 2rem;
    margin-bottom: 3%;
    border-radius: 25px;
    border: 4px solid black;
    transition: all 0.2s ease;
}

.generalBtn:hover {
    border: 4px solid white;
    border-radius: 25px;
    background-color: black;
    color: white;
    transform: scale(1.07);
}

.generalBtn:active {
    transform: translateY(7px);
    box-shadow: 0 4px white;
}

#brushBtn {
    position: relative; /* so the tooltip can be positioned absolutely */
    cursor: pointer;
}

.tooltip {
    position: absolute;
    bottom: 120%; /* position above the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffcc;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none; /* Not interactable */
    transition: opacity 0.2s;
}

#brushBtn:hover .tooltip {
    opacity: 1; /* show tooltip on hover */
}

#brushBtn.activeKey {
    transform: translateY(7px);
    box-shadow: 0 4px white;
}